body
{
    margin:0;
    padding:0;
    height: 100vh;
    background-color: var(--magnolia);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    font-family:"Ubuntu", sans-serif;
}
:root
{
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
    --font-size:15px;
}
.ubuntu-regular {
    font-weight: 400;
  }
  
.ubuntu-medium {
    font-weight: 500;
  }
  
.ubuntu-bold {
    font-weight: 700;
  }
  
main{
    width:65vw;
    height:70vh;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow:  0px 2px 15px -9px; 
    border: none;
    display: flex;
    flex-direction: row;
    padding: 2vmin;
}
.sidebar
{
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 4vmin;
    gap:3vmin;
    border-radius: 10px;
    width:50vmin;
}
.sidebar-item
{
    display: flex;
    flex-direction: row;
    gap:3vmin;
}
.step-info
{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    justify-content: center;
}
.step-numbering
{
    width:6vmin;
    height:6vmin;
    border-radius: 50%;
    background-color:var(--light-blue);
    border:1px solid var(--light-blue);
    line-height: 6vmin;
    text-align: center;
}
.grayfont
{
    color: var(--cool-gray);
}
.bold
{
    font-weight: bold;
}
.marinebluefont
{
    color: var(--marine-blue);
}
.white
{
    color:var(--white);
}
.inputbox
{
    width: 100%;
    padding: 2vmin;
    border:1px solid var(--light-gray);
    border-radius: 5px;
    margin-top: 1vmin;
    margin-bottom:3vmin;
}
::placeholder
{
    font-size: 15px;
    color: var(--cool-gray);
    opacity: 1;
    font-weight:500;
    font-family:"Ubuntu", sans-serif;
}
.tab
{
    width: fit-content;
}
form{
    padding:5vmin 14.5vmin;
}
label
{
    margin-top: 10vmin;
}
.btn
{
    padding: 2vmin 3.5vmin;
    border-radius: 10px;
    background-color: var(--marine-blue);
    color: var(--magnolia);
    border:none;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    float: inline-end;
}
.planbtn-container
{
    display: flex;
    flex-direction: row;
    gap:1.7vmin;
}
.planbtn
{
    display: flex;
    flex-direction: column;
    border:1px solid var(--cool-gray);
    border-radius: 5px;
    padding:2vmin;
    width:12vmin;
    cursor: pointer;
}
.planbtn img
{
    width:6vmin;
    height:6vmin;
    margin-bottom: 5vmin;
}
.planbtn span{
    margin-bottom: 5px;
}
.planbtn:hover{
    background-color: var(--alabaster);
    border:1px solid var(--purplish-blue);
}